[Desktop Entry]
Type=Application
Name=LibreLoop
Comment=Pattern-based audio workstation
Exec=libreloop
Icon=libreloop
Terminal=false
Categories=AudioVideo;Audio;
